<html>
  <body>
      <form>
  <p>title <input type="text" name="video-title" /></p>
      </form>
<%= link_to 'Videos', controller: 'videos' %>
<p>            </p>
<a target="_blank"  href="upload"> upload </a>
<p>            </p>
<a target="_blank"  href="music"> upload music</a>
</body>
</html>
