.container		
		img src="bg.jpg" height="100%" width="89%" style="z-index:-3;position:absolute;background-position:center"
		img src="logo.png" style="width: 150;margin-left:40%;margin-top:200px"/
		h2 style="text-align:center;color:#FFFFFF" 冥思与探索 快乐与青春

