
<html>
  <body>
      <form>
  <p>title <input type="text" name="video-title" /></p>
  <p>owner <input type="text" name="video-owner" /></p>
   <p>youkuid <input type="text" name="video-id" /></p>


  <input type="submit" value="Submit" />
      </form>

</body>
</html>
