  <div class="ui inverted page grid masthead segment">
    <div class="column">
      <div class="ui transition information">
        <div class="ui circular rotate reveal">
          <img class="visible content hatpot" src="/hat2.jpg">
          <img class="hidden content hatpot2" src="/logo.png">
      </div>
        <h1 class="ui inverted header" id="headpot">
           摸|来自创意媒体工作室
        </h1>
        <div class="large basic inverted animated fade ui button" id="followheadpot">
          <div class="visible content">看看时间线</div>
          <div class="hidden content"><a href="/timeline" target="_blank">Now</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui page grid overview segment">
    <div class="ui two wide column"></div>
    <div class="twelve wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="circular book link icon"></i>
            资料 
          </div>
          <p>这是一个号称聚集资源的开放性媒体平台，大家可以在这里畅所欲言（好像没有评论功能呢。。。）</p>
          <p><a class="ui teal right labeled icon button" href="#">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular code link icon"></i>
            代码
          </div>
          <p>本网站完全采用MVC结构，为一个标准的RAILS程序，并且在github上开源</p>
          <p><a class="ui teal right labeled icon button" href="https://github.com/1625081/mo1.0">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular user link icon"></i>
            主办社团
          </div>
          <p>创意媒体工作室从一年前就开始筹备这个网页的建设，直到今日才取的成功，这离不开每一个沙包的努力</p>
          <p><a class="ui teal right labeled icon button" href="http://page.renren.com/601024050?checked=true">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted page grid stackable relaxed feature segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          如何成为一名合格的-摸Mo-站UP主
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="ten wide column">
        <h2 class="ui header">如何上传视频</h2>
        <p>本网站目前为止不以任何形式储存视频文件，所有的素材皆源于网络（这话听起来很怪）。下面将介绍如何从优酷上传一个视频</p>
        <p>1.登陆优酷，找到你想要上传的视频</p>
        <p>2.鼠标右键，按下键盘上的“V”键</p>
        <p>3.按下ctrl+F，输入“var videoId”进行检索</p>
        <p>4.把检索到的一串数字记录下来</p>
        <p>5.返回摸平台，按下右上角的加号，选择上传视频，在优酷视频id栏里输入记录数字即可</p>
        <div class="ui basic inverted animated button button">
          <div class="visible content">Read More</div>
          <div class="hidden content"><i class="right arrow icon"></i></div>
        </div>
        <div class="ui inverted section divider"></div>
        <h3 class="ui header">More articles</h3>
        <div class="ui inverted animated selection list">
          <div class="item">
            How to win in a fight with a cat
            <div class="right floated">Jan 20, 2023</div>
          </div>
          <div class="item">
            A Supposedly Fun Cat Toy I will Never Buy Again
            <div class="right floated">Jan 1, 2023</div>
          </div>
          <div class="item">
            Much ado about yarn
            <div class="right floated">Dec 20, 2022</div>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui secondary form segment">
          <h3 class="ui header">Get Our Amazing Newsletter Bi-Daily</h3>
          <p>Sign up and get spammed with cats everyday. We have no unsubscribe button!</p>
          <div class="field">
            <div class="ui left icon action input">
              <i class="user icon"></i>
              <input name="email" type="text" placeholder="name@email.com">
              <div class="ui teal submit button">Sign up</div>
            </div>
          </div>
          <div class="ui error message"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui page grid stackable segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          友情链接QUQ
        </h1>
        <div class="ui horizontal divider"><i class="heart icon"></i></div>
      </div>
    </div>
    <div class="center four column aligned row">
      <div class="column">
        <div class="ui shape sanjinclass">
          <div class="sides">
            <div class="active side">
              <a href="http://www.baidu.com" target="_blank"><i class="huge circular github icon"></i></a>
            </div>
            <div class="side">
              <i class="huge circular icon bgblack"><img src="/logo-small.svg"></i>
            </div>
            <div class="side">
              <i class="huge circular maxcdn icon"></i>
            </div>
            <div class="side">
              <i class="huge circular pinterest icon"></i>
            </div>
            <div class="side">
              <i class="huge circular weibo icon"></i>
            </div>
            <div class="side">
              <i class="huge circular flickr icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui shape sanjinclass">
          <div class="sides">
            <div class="side">
              <i class="huge circular github icon"></i>
            </div>
            <div class="side">
              <i class="huge circular facebook icon"></i>
            </div>
            <div class="active side">
              <i class="huge circular maxcdn icon"></i>
            </div>
            <div class="side">
              <i class="huge circular pinterest icon"></i>
            </div>
            <div class="side">
              <i class="huge circular weibo icon"></i>
            </div>
            <div class="side">
              <i class="huge circular flickr icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui shape sanjinclass">
          <div class="sides">
            <div class="side">
              <i class="huge circular github icon"></i>
            </div>
            <div class="side">
              <i class="huge circular facebook icon"></i>
            </div>
            <div class="side">
              <i class="huge circular maxcdn icon"></i>
            </div>
            <div class="side">
              <i class="huge circular pinterest icon"></i>
            </div>
            <div class="active side">
              <i class="huge circular weibo icon"></i>
            </div>
            <div class="side">
              <i class="huge circular flickr icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui shape sanjinclass">
          <div class="sides">
            <div class="side">
              <i class="huge circular github icon"></i>
            </div>
            <div class="side">
              <i class="huge circular facebook icon"></i>
            </div>
            <div class="side">
              <i class="huge circular maxcdn icon"></i>
            </div>
            <div class="side">
              <i class="huge circular pinterest icon"></i>
            </div>
            <div class="side">
              <i class="huge circular weibo icon"></i>
            </div>
            <div class="active side">
              <i class="huge circular flickr icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui inverted teal page grid segment">
    <div class="ten wide column">
      <div class="ui three column stackable grid">
        <div class="column">
          <div class="ui header">Courses</div>
          <div class="ui inverted link list">
            <a class="item">Registration</a>
            <a class="item">Course Calendar</a>
            <a class="item">Professors</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Library</div>
          <div class="ui inverted link list">
            <a class="item">A-Z</a>
            <a class="item">Most Popular</a>
            <a class="item">Recently Changed</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Community</div>
          <div class="ui inverted link list">
            <a class="item">BBS</a>
            <a class="item">Careers</a>
            <a class="item">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide right floated aligned column">
      <h3 class="ui header">Contact Us</h3>
      <addr>
        237 Catberry Road <br>
        Milton Keynes, London <br>
      </addr>
      <p>(404) 867-5309</p>
    </div>
  </div>

  <script src="/home.js">