<% content_for :home do %>
  <%= javascript_include_tag "home", "data-turbolinks-track" => true %>
<% end %>
  <div class="ui inverted page grid masthead segment">
    <div class="column">
      <div class="ui transition information">
        <div class="ui fade reveal">
          <img class="visible content hatpot" src="/cmwtv.png">
          <img class="hidden content hatpot2" src="/logo.png">
      </div>
        <h1 class="ui inverted header" id="headpot">
           摸|来自创意媒体工作室
        </h1>
        <div class="large basic inverted animated fade ui button" id="followheadpot">
          <div class="visible content">看看时间线</div>
          <a href="/timeline" target="_blank"><div class="hidden content">Now</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui page grid overview segment">
    <div class="ui two wide column"></div>
    <div class="ten wide column">
      <div class="ui two column center aligned stackable divided grid ">
        <div class="column">
          <div class="ui huge header">
            <img src="/logo.png"></img> 
            <p>V1.2</p>
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular code link icon"></i>
            代码更新
          </div>
          <p>1.添加了收藏功能</p>
          <p>2.优化了主页</p>
          <p>3.时间轴系统响应式优化</p>
          <p><a class="ui teal right labeled icon button" href="https://github.com/1625081/mo1.0">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted page grid stackable relaxed feature segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          如何成为一名合格的-摸Mo-站UP主
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="ui grid">
      <div class="ten wide column">
        <h2>如何获得摸平台的账号？</h2>
        <h2 class= "ui huge header">任何人都可以获得上传摸的权利！</h2>
        <h2>只要你通过<a href="/users/edit" class="ui red small button">内网认证</a>，确认是Bdfzer，就可以在摸上发布些什么</h2>
        <h2>祝玩得愉快！</h2>
        <div class="ui inverted section divider"></div>
        <h3 class="ui header"><i class="right arrow icon"></i>更多“姿势”</h3>
        <div class="ui inverted animated selection list">
          <a href="/articles/3"><div class="item">
            <i class="right arrow icon"></i>如何上传视频
            </div></a>
          <a href="/articles/2"><div class="item">
            <i class="right arrow icon"></i>如何上传图片
          </div></a>
          <div class="item">
            <i class="right arrow icon"></i>如何管理资源
          </div>
        </div>
      </div>
      <div class="two wide column"><img src="/2.png" width="400" class="link" id="Mgirl" data-content="我是M娘哦～请多多关照"></div>
      </div>
    </div>
  </div>

  <div class="ui page grid stackable segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          友情链接QUQ
        </h1>
        <div class="ui horizontal divider"><i class="heart icon"></i></div>
      </div>
    </div>
    <div class="center five column aligned row">
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="active side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="active side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="active side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="active side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="bottomimg ui grid stackable">
      <img class="ten wide column" src="large.jpg">
        <div class="mo-copyright six wide column">  
          <p class="bo1">&nbsp;&nbsp;创媒社长：傅玺谕 </p>
          <p class="bo2">fuxiyu@stu.pkuschool.edu.cn</p>
          <p class="bo3">&nbsp;&nbsp;网络技术中心负责人：郑三金</p>
          <p class="bo4">somejump@163.com</p>
          <p class="bo5">&nbsp;&nbsp;Special Thanks:</p>
          <p class="bo6">小紫、宋甘佳老师、毛华均老师...</p>
          <p class="bo7">.....and You!</p> 
        </div>
  </div>