  <div class="ui inverted page grid masthead segment">
    <div class="column">
      <div class="ui transition information">
        <div class="ui fade reveal">
          <img class="visible content hatpot" src="/cmwtv.png">
          <img class="hidden content hatpot2" src="/logo.png">
      </div>
        <h1 class="ui inverted header" id="headpot">
           摸|来自创意媒体工作室
        </h1>
        <div class="large basic inverted animated fade ui button" id="followheadpot">
          <div class="visible content">看看时间线</div>
          <a href="/timeline" target="_blank"><div class="hidden content">Now</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui page grid overview segment">
    <div class="ui two wide column"></div>
    <div class="twelve wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="circular book link icon"></i>
            资料 
          </div>
          <p>这是一个聚集资源的开放性媒体平台，暂时存放着创意媒体工作室的各种资源，大家可以在这里点赞、评论、发现有趣的事物</p>
          <p><a class="ui teal right labeled icon button" href="#">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular code link icon"></i>
            代码
          </div>
          <p>本网站完全采用MVC结构，为一个标准的RAILS程序，并且在Github上开源</p>
          <p><a class="ui teal right labeled icon button" href="https://github.com/1625081/mo1.0">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular user link icon"></i>
            建设人员
          </div>
          <p>创意媒体工作室从一年前就开始筹备这个网页的建设，直到今日才取得突破性进展。一年前是有现在毕业了的学长小紫负责开发，现在是由创媒网络中心负责。</p>
          <p><a class="ui teal right labeled icon button" href="http://page.renren.com/601024050?checked=true">了解更多 <i class="right long arrow icon"></i></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted page grid stackable relaxed feature segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          如何成为一名合格的-摸Mo-站UP主
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="ten wide column">
        <h2 class="ui header">如何获得摸平台的账号</h2>
        <p>摸平台对广大学生实行开放注册原则，任何人都可以注册，任何学生输入进行身份认证后都有浏览资源和发布评论的权利。但是想要获得上传资源的权利并不容易，用户可以通过如下方式获取权利：</p>
        <p>1.经过证实，为某社团核心负责人，则代替本社团获取在摸的账号</p>
        <p>2.经过证实，为北大附中某活动的积极组织者，有发布资源的能力和需求</p>
        <p>3.经过证实，为北大附中对活动进行管理的教师</p>
        <p>4.通过考核，进入创意媒体工作室</p>
        <p>5.交450元</p>
        <div class="ui basic inverted animated button catchme" id="catchme">
          <div class="visible content">6.抓住我</div>
          <div class="hidden content"></div>
        </div>
        <div class="ui inverted section divider"></div>
        <h3 class="ui header"><i class="right arrow icon"></i>更多“姿势”</h3>
        <div class="ui inverted animated selection list">
          <div class="item">
            <i class="right arrow icon"></i>如何上传视频
            </div>
          <div class="item">
            <i class="right arrow icon"></i>如何上传图片
          </div>
          <div class="item">
            <i class="right arrow icon"></i>如何管理资源
          </div>
        </div>
      </div>
      <img src="/2.png" width=400 class="Mgirls">
    </div>
  </div>

  <div class="ui page grid stackable segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          友情链接QUQ
        </h1>
        <div class="ui horizontal divider"><i class="heart icon"></i></div>
      </div>
    </div>
    <div class="center five column aligned row">
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="active side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="active side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="active side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui text shape">
          <div class="sides">
            <div class="side">
              <a href="http://chalk.seiue.com" target="_blank"><img src="images/Chalk3.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="https://www.github.com" target="_blank"><img src="images/github.png" class="gaibabala"></a>
            </div>
            <div class="side">
              <a href="http://bdfz-cas.pkuschool.edu.cn/cas/login" target="_blank"><img src="images/dan2.png" class="gaibabala"></a>
            </div>
            <div class="active side">
              <a href="http://mail.stu.pkuschool.edu.cn" target="_blank"><img src="images/qiye.png" class="gaibabala"></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <img scr="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <span style="display:none">601024050</span>
    <div class="bottomimg">
      <img src="large.jpg" width="1160" height="350">
        <div class="mo-copyright">  
          <p class="bo1">创媒社长：傅玺谕 </p>
          <p class="bo2">fuxiyu@stu.pkuschool.edu.cn</p>
          <p class="bo3">网络技术中心负责人：郑三金</p>
          <p class="bo4">somejump@163.com</p>
          <p class="bo5">Special Thanks:</p>
          <p class="bo6">小紫、宋甘佳老师、毛华均老师...</p>
          <p class="bo7">.....and You!</p> 
        </div>
    </div>
    <script src="/home.js">