#youkuplayer style="width:480px;height:400px"
script type="text/javascript" src="http://player.youku.com/jsapi"
javascript:
  player = new YKU.Player('youkuplayer',{
    styleid: '0',
    client_id: '24002f2d0b37924f',
    vid: '83330248'
  });