//*profile_header:
#profile-page {
	background-color: #222;
	.profile-header-container {
		top: 0;
		height: 270px;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		.profile-info {
			position: absolute;
			bottom: 0;		 
			position: absolute;
			bottom: 60px;
			width: 100%;
			height: 200px;
			background: -linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);//Safari & Chrome
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);//Firefox
			background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);//Opera
			color: #eee;
			.avatar {
				display: inline-block;
				img {
					width: 100px;
					height: 100px;
					max-width: 100px;
					max-height: 100px;
					border: 0;
					margin: 0;
					box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
					border-radius: 3px;
					box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
					-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
					-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
					-o-box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
				}
			}
			.main-info {
				display: inline-block;
				position: absolute;
				top: 60px;
				margin-left: 30px;
				.title {
					margin: 0;
					font-size: 30px !important;
				}
				.yellow{
					margin: 0;
					font-size: 30px !important;
					color:#FFFF00;
				}
				.sub-info {
					color: #888;
					margin-top: 7px;
					margin-bottom: 10px;
				}
			}
		}
		.profile-tab {
			position: absolute;
			bottom: 0;
			height: 60px;
			width: 100%;
			.ui.menu {
				position: absolute;
				bottom: 0;
				height: 60px;
				margin: 0;
				padding: 0;
				width: 100%;
				background: #111;
				.container {
					padding-top: 0;
					.item {
						height: 60px;
						font-size: 18px;
						padding-top: 20px;
						padding-left: 25px;
						padding-right: 25px;
					}
				}
			}
		}
	}
}

//*/

//*profile_container both details & edit
.profile_container {
	width: 70%;
	left: 15%;
	right: 15%;

}
//*/
#edit_profile{
	margin-left:25%;
	margin-top:-5%;
}

//*profile_detail:

#profile_detail {
	a.profile_detail_overbutton_a{
		position: absolute;
		right: -19px;
		top: 40px;
		z-index: 0;
	}

	img#profile_detail_afttable_image {
		position: absolute;
		left: 59%;
		top: 415px;
		height: 150px;
		width: 150px;
		z-index: 1;
	}

	#padlot{
		z-index:-1000;
		padding:50px;
		color:white;
	}
	#profile_detail_t {
		table-layout: fixed;
		top: -45px;
		z-index: 0;
		border-collapse:collapse;
		background-color:#ffffff;
		margin-left:3%;
		th,td{
			font-size:1em;
  			border:1px solid #98bf21;
  			padding:3px 7px 2px 7px;
		}
		th{
			font-size:1.1em;
			text-align:left;
			padding-top:5px;
			padding-bottom:4px;
			background-color:#ffffff;
			color:#000000;
		}
		tr.alt td{
		  color:#000000;
		  background-color:#EAF2D3;
		}
		tr.alt th{
		  background-color:#EAF2D3;
		}
		td#profile_detail_form_empty {
			color: #000 !important;
			font-style: oblique;
		}
		/*td {
			vertical-align: top;
			height: 10px; 
		}
		td.v {
			font-weight: normal;
			color: #000;
		}
		td:first-child {
			//for 表头
			text-align: right;
			vertical-align: top;
			width: 20%;
		}
		td:last-child {
			//for 内容
			text-align: left;
			padding-left: 35px;
			word-break: break-all;
			word-wrap:break-word;
		}
		td.v#profile_detail_form_empty {
			color: #bbb !important;
			font-style: oblique;
		}*/

		#profile_detail_changing_button {
			position: relative;

		}
	}
}
//*/
	#customers
	  {
	  width:100%;
	  border-collapse:collapse;
	  }

	#customers td, #customers th 
	  {
	  font-size:1em;
	  border:1px solid #98bf21;
	  padding:3px 7px 2px 7px;
	  }

	#customers th 
	  {
	  font-size:1.1em;
	  text-align:left;
	  padding-top:5px;
	  padding-bottom:4px;
	  background-color:#A7C942;
	  color:#ffffff;
	  }

	#customers tr.alt td 
	  {
	  color:#000000;
	  background-color:#EAF2D3;
	  }
//*profile_edit:
#profile_edit {
	margin-bottom: 0px;
	min-width:770px;
	.ui.form {
		top: -70px;
	}
	.field.inline#profile_edit_infields_inline {
		label {
			display: inline-block !important;
		}
	}
	.ui.selection.dropdown {
		padding: 0.45em 1em !important;
	}
	#profile_edit_infields_intext_button {
		position: absolute;
		right: 0px;
		text-align: right;

	}

}