.segment.upload-area {
	border: none;
	box-shadow: none;
	top: -25px;
	background-color: transparent;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  .ui.input {
    width: 100%;
    input {
      border-width: 0px;
      text-align: center;
      border-radius: 0;
    }
    input:hover {
      background-color: #eee;
    }
    input:focus {
      border-bottom: 1px solid #798;
    }
    #music_file {
      width: 20%;
    }
  }
  .ui.divider {
    margin-bottom: 2px;
    margin-top: 0;
  }
  .des_field {
    text-align: left;
  }
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/*
 * jQuery File Upload UI Plugin CSS 8.8.1
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

/*--------------
  fileinput button
----------------*/
.fileinput-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  // background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  // background: url(../img/loading.gif) center no-repeat;
  // background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

#drag-or-browse{
  padding: 200px 0;
}

// Code below is writen by Miclle from Miclle.com
.template{
  float: left;
  width: 280px;
  height: 230px;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  background-color: #FFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow:    0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow:         0 1px 1px rgba(0, 0, 0, 0.15);
  .cancel{ cursor: pointer;}
  .preview{
    display: block;
    height: 192px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    img{
      width: 280px;
      top: -44.5px;
      cursor: asset_url('magnify.cur');
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      position: relative;
    }
  }
  .exif{
    height: 38px;
    position: relative;
    .caption{
      position: absolute;
      padding-left: 5px;
      left: 0;
      right: 85px;
      line-height: 38px;
      color: #888;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .extra{
      float: right;
      width: 75px;
      margin-right: 5px;
      line-height: 38px;
      color: #808080;
      text-align: right;
    }
    .ui.progress{
      position: absolute;
      bottom: 0;
      border: none;
      width: 100%;
      height: 5px;
      background-color: transparent;
      padding: 0px;
      border-radius: 0;
    }
  }
}