// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
.top-bar {
	box-shadow: 0 1px 5px #111 !important;
	border-radius: 0 !important;
	height: 50px !important;
	background-color: $bg-black !important;
	top: 0;
	border-bottom: 1px #111;
	position: fixed;
	width: 100%;
	z-index: 1000;
	.container {
		padding-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.logo {
		width: 75px;
	}
	.item {
		height: 50px;
		padding: 17px 25px !important;
	}
	input {
		background-color: #333 !important;
		color: #aaa;
	}
	input:focus {
		background-color: #eee !important;
		color: #333;
	}
	.item.user-info {
		span.avatar {
			display: inline-block;
			background-image: none;
			max-width: 20px;
			img {
				max-height: 20px;
			}
		}
	}
}
.intro_wrap{
	.bgimg{
		z-index:-1000;
		position:absolute;
		background-position:center
	}
	.sjimg{
		height:200;
		width:200;
	}
	#homebt{
		margin: 100px;
	}

/*******************************
            Global
*******************************/
}

.hatpot{
  margin-left:36px; 
  margin-top:7px;
}
.hatpot2{
  margin-left:72px; 
  margin-top:80px;
}
#headpot{
  margin-top: 60px;
  margin-left:24%;
}
#followheadpot{
  margin-left:30%;
}
.bgblack{
  background-color: blue;
}
.Mgirls{
  margin-left: 4px;
}
.fixplease{
  height:255px;
}
.bottomimg{position: relative;margin-left: -200px;background-color: black;overflow:hidden;height:280px;}
.word{z-index:1000;color: #FFFFFF;display:inline;margin-left:50%;margin-top:-20%;}
.mo-copyright{margin-left:70%;margin-top:-22.8%;color:white}
.gaibabala{
  width: 8em !important;
  height: 8em !important;
}
.rotate-seiue{
  width:90px;
  height:90px;
  margin-left: -7px;
  margin-top:-15px; 
}
#color-change{
  color: #7f7f7f;
}
html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(/bgsuo.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}
.overview.segment {
  background-image:url(/flower.jpg);
  height:450px;

}
.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}




//
@media screen and (min-width:480px){
  .replies{
    position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      width: 100%;
      background-color:#F0F0F0;
    .avatar {
        float: left;
        margin-right: 29px;
        position: relative;
        overflow: visible;
        text-align: center;
        .image-circle {
           width: 75px;
           border-radius: 50%;
        }
    }
     .body {
      padding: 15px 40px 10px 6px;
      textarea {
        border: none;
        height: 230px;
        margin-top: -20px;
      }
      border-radius: 5px;
      position: relative;
      overflow: visible;
      float: left;
      width: 87%;
      border: 1px solid #ddd;
      line-height: 26px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 21px;
        left: -6px;
        width: 10px;
        height: 10px;
        background: #fff;
        border-left: 1px solid #cad5e0;
        border-top: 1px solid #cad5e0;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width:480px){
  .replies{
    position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      width: 100%;
      background-color:#F0F0F0;
    .avatar {
        float: left;
        margin-right: 10px;
        margin-top: 20px;
        position: relative;
        overflow: visible;
        text-align: center;
        .image-circle {
           width: 39px;
           border-radius: 50%;
        }
    }
     .body {
      padding: 15px 40px 10px 6px;
      textarea {
        border: none;
        height: 230px;
        margin-top: -20px;
      }
      border-radius: 5px;
      position: relative;
      overflow: visible;
      float: left;
      width: 87%;
      border: 1px solid #ddd;
      line-height: 26px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 21px;
        left: -6px;
        width: 10px;
        height: 10px;
        background: #fff;
        border-left: 1px solid #cad5e0;
        border-top: 1px solid #cad5e0;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}