<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="item" id="dl">
      <div class="image">
        <img src="{%=file.thumb_url%}" alt="{%=file.name%}" href="{%=file.url%}"/>
      </div>
    <div class="content">
      <div class="name">{%=file.name%}</div>
      <p class="description">
        {% if (file.error) { %}
          上传！
        {% } %}
        <i class="checkmark red icon"></i>
      </p>
    </div>
  </div>
{% } %}
</script>