<!-- These Code is writen by Miclle from Miclle.com. -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template template-upload fade">
    {% if (!i) { %}
    <div class="cancel ui corner label icon"><i class="trash icon"></i></div>
    {% } %}
    <div class="preview">
    {% if (file.error) { %}
      <div class="error"><span class="label label-important">{%=file.error%}</span> {%= file.error%}</div>
    {% } %}
    </div>
    <div class="exif">
      <div class="caption">{%=file.name%}</div>
      <div class="extra">{%=o.formatFileSize(file.size)%}</div>
      <div class="ui striped progress green progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
    </div>
  </div>
{% } %}
</script>